*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(../images/fundo.png) repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    padding-top: 25px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
}

.logo{
    width: 152px;
    height: 66px;
    background: url(../images/logo.png) no-repeat center;
    text-indent: -3000px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.4em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../images/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
    background: none;
}

#topo ul a:hover{
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencias #navegacao a#ciencias{
    color: #fff;
    background: #de003e;
    cursor: text;
}